/* line 5, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
body {
  position: relative;
  color: #725a29;
}

/* line 10, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
ul.f32 li {
  padding-left: 10px;
}

/* line 14, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 800px;
}

/* line 20, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
}

/* line 25, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
h2, h3 {
  font-size: 32px;
}

/* line 29, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
p {
  font-family: 'Open Sans', cursive;
  font-size: 16px;
}

/* line 34, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section.row {
  border-bottom: 2px solid #d0bd98;
  padding-left: 15%;
  padding-right: 15%;
}

/* line 40, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section.row:nth-child(odd) {
  background-image: url(/andreandceci/images/bg.jpg);
}

/* line 45, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section.row:nth-child(even) {
  background: blanchedalmond;
}

/* line 50, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section#home h2, section#home h3 {
  font-family: 'Parisienne', cursive;
}

/* line 55, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section#travel .fa {
  font-size: 32px;
}

/* line 59, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
section#travel section {
  margin-bottom: 20px;
}

/* line 63, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
img {
  border: 5px solid #8a744a;
}

/* line 67, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.input-group-addon {
  background: #fbeed4;
  color: #8a744a;
  border-color: #d0bd98;
}

@media (min-width: 768px) {
  /* line 74, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 80, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
/* line 85, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default {
  background-color: #fbeed4;
  border-color: #d0bd98;
}

/* line 89, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-brand {
  color: #8a744a;
}

/* line 92, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #725a29;
}

/* line 95, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-text {
  color: #8a744a;
}

/* line 98, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-nav > li > a {
  color: #8a744a;
}

/* line 101, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #725a29;
}

/* line 104, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #725a29;
  background-color: #d0bd98;
}

/* line 108, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #725a29;
  background-color: #d0bd98;
}

/* line 112, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-toggle {
  border-color: #d0bd98;
}

/* line 115, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d0bd98;
}

/* line 118, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #8a744a;
}

/* line 121, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #8a744a;
}

/* line 125, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-link {
  color: #8a744a;
}

/* line 128, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
.navbar-default .navbar-link:hover {
  color: #725a29;
}

@media (max-width: 767px) {
  /* line 133, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #8a744a;
  }

  /* line 136, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #725a29;
  }

  /* line 139, /Users/juampi/Workspace/Projects/andreandceci/app/assets/stylesheets/welcome.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #725a29;
    background-color: #d0bd98;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

