// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  background: url(image-path('bg.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  color: white;
  background: transparent;
}

a, a:visited, a:hover, a:active {
  color: wheat;
}

section {
  padding-top: 50px;
  min-height: 800px;
  div.well {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    //border: 2px solid #d0bd98;
    border: 0;
  }
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
}

h2, h3 {
  font-size: 32px;
}

p {
  font-family: 'Open Sans', cursive;
  font-size: 16px;
}

section#home {
  h2, h3 {
    font-family: 'Parisienne', cursive;
  }
}

img {
  border: 5px solid rgba(230, 230, 230, 1);
}

.input-group-addon {
  background: rgba(230, 230, 230, 1);
  color: rgba(119, 119, 119, 1);
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 1px;
    border-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 1);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

/* Footer */

.footer-basic-right {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: right;
	font: normal 18px sans-serif;
	padding: 25px;
	margin-top: 80px;
}

.footer-basic-right .footer-copyright {
	color:  #8d9093;
	font-size: 14px;
	margin: 0;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-right {
		padding: 35px;
	}

	.footer-basic-right .footer-copyright {
		font-size: 12px;
	}

}